Com.Efrata.Service.Purchasing.Lib/bin
Com.Efrata.Service.Purchasing.Lib/obj
Com.Efrata.Service.Purchasing.WebApi/bin
Com.Efrata.Service.Purchasing.WebApi/obj
Com.Efrata.Service.Purchasing.WebApi/appsettings.json
Com.Efrata.Service.Purchasing.WebApi/Properties/launchSettings.json
